.header{
    background-color:  white;
    height: 83px;
    width: 100%;
    border-bottom: 1px solid#CCCCCC;
    background-image: url('../images/logo.png');
    background-repeat: no-repeat;
    background-position-x: 20px;
    background-position-y: center;
}

.title{
    text-align: right;
    background: url('../images/icon.png') center center no-repeat;
    padding-right: 39%;
    margin-top: -13;
    font-size:xx-small;
    background-color: black;
    color: white;

    
}